<div class="post card">
  <form id="new-post-form" class="card-body">
    <div>
      <label for="post-title">Title</label>
      <input name="post-title" type="text" id="post-title">
    </div>
    <div>
      <textarea name="post-body" type="text" id="post-body"></textarea>
    </div>
    <button type="submit" id="login-btn" class="btn">Create</button>
  </form>
</div>

<script src="/js/new.js"></script>

input[name="post-title"]
textarea[name="post-body"]